.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.navbar {
  background-color: #366394;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #366394;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header img {
  width: 25%;

}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;

  background-color: #363436;
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer a {
  font-size: 0.6rem;
  /* Tamaño de fuente relativo al tamaño del footer */
}

.logo-footer {
  width: 20%;
  padding: 22px;
}

.links-footer {
  display: flex;
  justify-content: center;
width: 100%;
height: 100%;
}
.links-footer a{

  color: #818485;
  text-decoration: none;
  
}

.links-footer ul {
  display: flex;
 
    align-items: center;
    
    color: #818485;
    text-decoration: none;
    list-style-type: none;
    
}
.links-footer ul li {
  
  margin: 0 10px;
  /* Ajusta el espaciado horizontal entre las listas */
}

@media (min-width: 768px) {

  /* Aplica estilos adicionales para pantallas con un ancho mínimo de 768px (por ejemplo, pantallas de computadora) */
  .footer a {
    font-size: 1.2rem;
    /* Tamaño de fuente más grande para computadoras */
  }

  .links-footer ul li {

    margin: 0 2rem;
    /* Ajusta el espaciado horizontal entre las listas */
  }

    .logo-footer {
      width: 10%;
      padding: 22px;
    }
}

.btn-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 26px;
  height: 26px;

  border-radius: 50%;
  border-left-color: #09f;
  
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}